<h1>About Alpha Blog</h1>
<%= image_tag 'welcome.png' %>
<h2>Links</h2>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
</ul>
<p>This site is a cool blog where you can do things</p>
